/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#define ZMK_POINTING_DEFAULT_MOVE_VAL 1200  // default: 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 20    // default: 10

#include <behaviors.dtsi>
#include <behaviors/unicode.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/rgb.h>

#define BASE 0
#define LOWER 1
#define RAISE 2
#define ADJUST 3

// Unicode input mode for &uc (see https://github.com/urob/zmk-unicode).
// WinCompose is recommended on Windows; on macOS add Unicode Hex Input and use UC_SET_MACOS.
&uc {
    default-mode = <UC_MODE_WIN_COMPOSE>;
};

/ {
    // Activate ADJUST layer by pressing raise and lower

    conditional_layers {
        compatible = "zmk,conditional-layers";

        win_lower {
            if-layers = <3 1>;
            then-layer = <4>;
        };

        mac_lower {
            if-layers = <3 2>;
            then-layer = <5>;
        };
    };

    combos {
        compatible = "zmk,combos";

        // Physical Ctrl+Tab -> Alt+Tab (Windows app switcher).
        // Key positions follow Sofle matrix order: row1 col0 = TAB (12), row3 col0 = LCTRL (36).
        ct_tab_to_alt_tab {
            timeout-ms = <50>;
            layers = <0>;
            bindings = <&kp LA(TAB)>;
            key-positions = <12 36>;
        };
    };

    macros {
        kb_win: kb_mod {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            // Tap each step (press+release). macro_press breaks &bt / &to on recent ZMK.
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&bt BT_SEL 0 &to 1>;
            label = "KB_MOD";
        };

        kb_mac: kb_mac {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&bt BT_SEL 1 &to 2>;
            label = "KB_MAC";
        };

        clear_mods: clear_mods {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&to 0>;
            label = "CLEAR_MODS";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "default";

            // ------------------------------------------------------------------------------------------------------------
            // |   `   |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |   =   |
            // |  ESC  |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   |   [   |
            // |  TAB  |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   |   ]   |
            // | LCTRL |  Z  |  X  |  C   |  V   |  B   |  MUTE  |  |       |  N   |  M    |  ,    |  .   |   /   |   '   |
            //               | GUI | DEL  |LSHIFT| LOWER|  ENTER |  | SPACE | RAISE|BACKSPC| ALT   | GUI  |

            bindings = <
&kp ESC         &kp N1  &kp N2        &kp N3    &kp N4    &kp N5                           &kp N6  &kp N7         &kp N8     &kp N9    &kp N0    &kp MINUS
&kp TAB         &kp Q   &kp W         &kp E     &kp R     &kp T                            &kp Y   &kp U          &kp I      &kp O     &kp P     &kp LEFT_BRACKET
&kp LEFT_SHIFT  &kp A   &kp S         &kp D     &kp F     &kp G                            &kp H   &kp J          &kp K      &kp L     &kp SEMI  &kp SQT
&kp LCTRL       &kp Z   &kp X         &kp C     &kp V     &kp B   &mo 7        &kp C_MUTE  &kp N   &kp M          &kp COMMA  &kp DOT   &kp FSLH  &kp RBKT
                        &kp LEFT_ALT  &kp CLCK  &kp LGUI  &mo 3   &kp SPACE    &kp RET     &mo 6   &kp BACKSPACE  &kp DEL    &kp RGUI
            >;

            sensor-bindings =
                <&inc_dec_kp C_VOL_UP C_VOL_DN>,
                <&inc_dec_kp PG_UP PG_DN>;
        };

        on_win {
            bindings = <
&trans        &trans  &trans    &trans  &trans    &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans        &trans  &trans    &trans  &trans    &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans        &trans  &trans    &trans  &trans    &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&kp LEFT_ALT  &trans  &trans    &trans  &trans    &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
                      &kp LWIN  &trans  &kp LCTRL &trans  &trans    &trans  &trans  &trans  &trans  &trans
            >;
        };

        on_mac {
            bindings = <
&trans  &trans  &trans    &trans  &trans        &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans    &trans  &trans        &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans    &trans  &trans        &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans    &trans  &trans        &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
                &kp LALT  &trans  &kp LEFT_WIN  &trans  &trans    &trans  &trans  &trans  &trans  &trans
            >;
        };

        base_lower {
            display-name = "lower";
            // Printable symbols via Unicode (&uc) so output does not follow OS keyboard layout.
            // F-keys and Del stay as HID usages (not layout-dependent for typing).
            bindings = <
&trans   &kp F1     &kp F2             &kp F3     &kp F4         &kp F5                       &kp F6        &kp F7      &kp F8     &kp F9                   &kp F10                   &kp F11
&kp DEL  &uc 0x0021 0 &uc 0x0040 0 &uc 0x0023 0 &uc 0x0024 0 &uc 0x0025 0 &uc 0x005E 0 &uc 0x0026 0 &uc 0x002A 0 &uc 0x0028 0 &uc 0x0029 0 &kp F12
&trans   &uc 0x0060 0 &uc 0x0022 0 &uc 0x0023 0 &uc 0x003B 0 &uc 0x003D 0 &uc 0x002B 0 &uc 0x003F 0 &uc 0x007C 0 &uc 0x007B 0 &uc 0x007D 0 &uc 0x007C 0
&trans   &trans     &trans             &trans     &trans         &trans     &trans    &trans  &uc 0x002C 0 &uc 0x002E 0 &uc 0x002C 0 &uc 0x005B 0 &uc 0x005D 0 &trans
                    &trans             &trans     &trans         &trans     &trans    &trans  &trans        &trans      &trans     &trans
            >;

            sensor-bindings =
                <&inc_dec_kp C_VOL_UP C_VOL_DN>,
                <&inc_dec_kp PG_UP PG_DN>;
        };

        win_layer_lower {
            bindings = <
&trans  &trans     &trans     &trans     &trans     &trans                       &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans     &trans     &trans     &trans     &trans                       &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans     &trans     &trans     &trans     &trans                       &trans  &trans  &trans  &trans  &trans  &trans
&trans  &kp LC(Z)  &kp LC(X)  &kp LC(C)  &kp LC(V)  &kp LC(B)  &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
                   &trans     &trans     &trans     &trans     &trans    &trans  &trans  &trans  &trans  &trans
            >;
        };

        mac_layer_lower {
            bindings = <
&trans  &trans     &trans     &trans     &trans     &trans                       &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans     &trans     &trans     &trans     &trans                       &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans     &trans     &trans     &trans     &trans                       &trans  &trans  &trans  &trans  &trans  &trans
&trans  &kp LG(Z)  &kp LG(X)  &kp LG(C)  &kp LG(V)  &kp LG(B)  &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
                   &trans     &trans     &trans     &trans     &trans    &trans  &trans  &trans  &trans  &trans
            >;
        };

        win_raise_layer {
            display-name = "raise";

            // ------------------------------------------------------------------------------------------------------------
            // | BTCLR | BT1  | BT2  |  BT3  |  BT4  |  BT5 |                |      |      |       |      |       |       |
            // |       | INS  | PSCR | GUI   |       |      |                | PGUP |      |   ^   |      |       |       |
            // |       | ALT  | CTRL | SHIFT |       | CAPS |                | PGDN |   <- |   v   |  ->  |  DEL  | BKSPC |
            // |       | UNDO | CUT  | COPY  | PASTE |      |      |  |      |      |      |       |      |       |       |
            //                |      |       |       |      |      |  |      |      |      |       |      |

            bindings = <
&bt BT_CLR  &bt BT_SEL 0                       &bt BT_SEL 1    &bt BT_SEL 2    &bt BT_SEL 3     &bt BT_SEL 4                         &trans      &trans     &trans    &trans     &bootloader    &studio_unlock
&trans      &kp C_AC_DESKTOP_SHOW_ALL_WINDOWS  &mkp MB4        &mmv MOVE_UP    &mkp MB5         &msc SCRL_UP                         &kp PG_UP   &mkp LCLK  &kp UP    &mkp RCLK  &mkp MCLK      &kp PRINTSCREEN
&trans      &none                              &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT  &msc SCRL_DOWN                       &kp PG_DN   &kp LEFT   &kp DOWN  &kp RIGHT  &kp BACKSPACE  &kp DELETE
&trans      &trans                             &trans          &trans          &trans           &trans          &trans    &soft_off  &kp C_PREV  &trans     &trans    &trans     &none          &trans
                                               &trans          &trans          &trans           &trans          &trans    &trans     &trans      &trans     &trans    &trans
            >;

            sensor-bindings =
                <&inc_dec_kp C_VOL_UP C_VOL_DN>,
                <&inc_dec_kp PG_UP PG_DN>;
        };

        set_layer {
            // ----------------------------------------------------------------------------------------------------------------------------
            // | BTCLR  |  BT1    |  BT2    |   BT3   |   BT4   |   BT5   |                  |      |      |       |      |       |       |
            // | EXTPWR | RGB_HUD | RGB_HUI | RGB_SAD | RGB_SAI | RGB_EFF |                  |      |      |       |      |       |       |
            // |        | RGB_BRD | RGB_BRI |         |         |         |                  |      |      |       |      |       |       |
            // |        |         |         |         |         |         | RGB_TOG | |      |      |      |       |      |       |       |
            //                    |         |         |         |         |         | |      |      |      |       |      |

            display-name = "adjust";
            bindings = <
&clear_mods        &kb_win          &kb_mac          &bt BT_SEL 2     &bt BT_SEL 3     &bt BT_SEL 4                          &none  &none  &none  &none  &none  &none
&ext_power EP_TOG  &rgb_ug RGB_HUD  &rgb_ug RGB_HUI  &rgb_ug RGB_SAD  &rgb_ug RGB_SAI  &rgb_ug RGB_EFF                       &none  &none  &none  &none  &none  &none
&none              &rgb_ug RGB_BRD  &rgb_ug RGB_BRI  &none            &none            &none                                 &none  &none  &none  &none  &none  &none
&none              &none            &none            &none            &none            &bootloader      &trans    &soft_off  &none  &none  &none  &none  &none  &none
                                    &none            &none            &none            &none            &none     &none      &none  &none  &none  &none
            >;
        };
    };
};
